<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.dao.BuyListMapper" >
  <resultMap id="BaseResultMap" type="com.zking.pojo.BuyList" >
    <id column="buylist_id" property="buylistId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="buylist_price" property="buylistPrice" jdbcType="DOUBLE" />
    <result column="buylist_man" property="buylistMan" jdbcType="INTEGER" />
    <result column="buylist_starttime" property="buylistStarttime" jdbcType="TIMESTAMP" />
    <result column="buylist_buytime" property="buylistBuytime" jdbcType="TIMESTAMP" />
    <result column="buylist_endtime" property="buylistEndtime" jdbcType="TIMESTAMP" />
    <result column="buylist_over" property="buylistOver" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    buylist_id, goods_id, buylist_price, buylist_man, buylist_starttime, buylist_buytime, 
    buylist_endtime, buylist_over, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from buylist
    where buylist_id = #{buylistId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from buylist
    where buylist_id = #{buylistId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.pojo.BuyList" >
    insert into buylist (buylist_id, goods_id, buylist_price, 
      buylist_man, buylist_starttime, buylist_buytime, 
      buylist_endtime, buylist_over, status
      )
    values (#{buylistId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{buylistPrice,jdbcType=DOUBLE}, 
      #{buylistMan,jdbcType=INTEGER}, #{buylistStarttime,jdbcType=TIMESTAMP}, #{buylistBuytime,jdbcType=TIMESTAMP}, 
      #{buylistEndtime,jdbcType=TIMESTAMP}, #{buylistOver,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.pojo.BuyList" >
    insert into buylist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="buylistId != null" >
        buylist_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="buylistPrice != null" >
        buylist_price,
      </if>
      <if test="buylistMan != null" >
        buylist_man,
      </if>
      <if test="buylistStarttime != null" >
        buylist_starttime,
      </if>
      <if test="buylistBuytime != null" >
        buylist_buytime,
      </if>
      <if test="buylistEndtime != null" >
        buylist_endtime,
      </if>
      <if test="buylistOver != null" >
        buylist_over,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="buylistId != null" >
        #{buylistId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="buylistPrice != null" >
        #{buylistPrice,jdbcType=DOUBLE},
      </if>
      <if test="buylistMan != null" >
        #{buylistMan,jdbcType=INTEGER},
      </if>
      <if test="buylistStarttime != null" >
        #{buylistStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="buylistBuytime != null" >
        #{buylistBuytime,jdbcType=TIMESTAMP},
      </if>
      <if test="buylistEndtime != null" >
        #{buylistEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="buylistOver != null" >
        #{buylistOver,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.pojo.BuyList" >
    update buylist
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="buylistPrice != null" >
        buylist_price = #{buylistPrice,jdbcType=DOUBLE},
      </if>
      <if test="buylistMan != null" >
        buylist_man = #{buylistMan,jdbcType=INTEGER},
      </if>
      <if test="buylistStarttime != null" >
        buylist_starttime = #{buylistStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="buylistBuytime != null" >
        buylist_buytime = #{buylistBuytime,jdbcType=TIMESTAMP},
      </if>
      <if test="buylistEndtime != null" >
        buylist_endtime = #{buylistEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="buylistOver != null" >
        buylist_over = #{buylistOver,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where buylist_id = #{buylistId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.pojo.BuyList" >
    update buylist
    set goods_id = #{goodsId,jdbcType=INTEGER},
      buylist_price = #{buylistPrice,jdbcType=DOUBLE},
      buylist_man = #{buylistMan,jdbcType=INTEGER},
      buylist_starttime = #{buylistStarttime,jdbcType=TIMESTAMP},
      buylist_buytime = #{buylistBuytime,jdbcType=TIMESTAMP},
      buylist_endtime = #{buylistEndtime,jdbcType=TIMESTAMP},
      buylist_over = #{buylistOver,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where buylist_id = #{buylistId,jdbcType=INTEGER}
  </update>
  <select id="findcount" resultType="com.zking.enetity.admin.Count">
  	select 
  	SUM(buylist_price) as allprice, COUNT(*) AS allcount 
  	from buylist 
  	where to_days(buylist_buytime) = to_days(now());
  </select>
  
  <select id="finddaycount" resultType="com.zking.enetity.admin.Count">
  	select 
  	b.buylist_id as buylist_id,g.goods_name as goosname,b.buylist_price as buyprice,
	b.buylist_buytime as buytime,u.name AS saleuername,u2.name AS buyuername
  	from buylist b,goods g,user u,user u2
  	where to_days(b.buylist_buytime) = to_days(now()) AND b.goods_id=g.goods_id and g.uid=u.uid AND b.buylist_man=u2.uid;
  </select>
  	 
  <select id="findweekcount" resultType="com.zking.enetity.admin.Count">
  	select 
  	b.buylist_id as buylist_id,g.goods_name as goosname,b.buylist_price as buyprice,
	b.buylist_buytime as buytime,u.name AS saleuername,u2.name AS buyuername
  	from buylist b,goods g,user u,user u2
  	where YEARWEEK(date_format(buylist_buytime,'%Y-%m-%d')) = YEARWEEK(now()) AND b.goods_id=g.goods_id and g.uid=u.uid AND b.buylist_man=u2.uid;
  </select>
 
 <select id="findmonthcount" resultType="com.zking.enetity.admin.Count">
  	select 
  	b.buylist_id as buylist_id,g.goods_name as goosname,b.buylist_price as buyprice,
	b.buylist_buytime as buytime,u.name AS saleuername,u2.name AS buyuername
  	from buylist b,goods g,user u,user u2
  	where date_format(buylist_buytime,'%Y-%m')=date_format(now(),'%Y-%m') AND b.goods_id=g.goods_id and g.uid=u.uid AND b.buylist_man=u2.uid;
  </select>
</mapper>