<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.dao.UserTypeMapper">
	<resultMap id="BaseResultMap" type="com.zking.pojo.UserType">
		<id column="usertype_id" property="usertypeId" jdbcType="INTEGER" />
		<result column="usertype_name" property="usertypeName"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		usertype_id, usertype_name
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.zking.pojo.UserTypeExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from usertype
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from usertype
		where usertype_id = #{usertypeId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from usertype
		where usertype_id = #{usertypeId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.zking.pojo.UserTypeExample">
		delete from usertype
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.zking.pojo.UserType">
		insert into usertype (usertype_id, usertype_name)
		values (#{usertypeId,jdbcType=INTEGER}, #{usertypeName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.zking.pojo.UserType">
		insert into usertype
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="usertypeId != null">
				usertype_id,
			</if>
			<if test="usertypeName != null">
				usertype_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="usertypeId != null">
				#{usertypeId,jdbcType=INTEGER},
			</if>
			<if test="usertypeName != null">
				#{usertypeName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.zking.pojo.UserTypeExample"
		resultType="java.lang.Integer">
		select count(*) from usertype
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update usertype
		<set>
			<if test="record.usertypeId != null">
				usertype_id = #{record.usertypeId,jdbcType=INTEGER},
			</if>
			<if test="record.usertypeName != null">
				usertype_name = #{record.usertypeName,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update usertype
		set usertype_id = #{record.usertypeId,jdbcType=INTEGER},
		usertype_name = #{record.usertypeName,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.zking.pojo.UserType">
		update usertype
		<set>
			<if test="usertypeName != null">
				usertype_name = #{usertypeName,jdbcType=VARCHAR},
			</if>
		</set>
		where usertype_id = #{usertypeId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zking.pojo.UserType">
		update usertype
		set usertype_name = #{usertypeName,jdbcType=VARCHAR}
		where usertype_id = #{usertypeId,jdbcType=INTEGER}
	</update>
</mapper>